{% extends 'home\base.html' %}
{% load staticfiles %}
{% load home_tags %}
{% block title %}{{ article.title}}{%endblock%}

{% block banner_bar%}
<div class="banner-bar">
    <div class="container">
        <div class="col-12 columns">
            <div class="place">
                <a href="/">首页</a>
                &raquo;

                {{article.category.name}} &raquo; <a href="/article/{{article.pk}}/">{{article.title}}</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block mainbody %}
<div class="col-11 columns" id="mainbody" role="main">
        <div class="post-single type-post">
            <h1 class="article-h1">{{article.title}}</h1>
            <div class="details-up">
                <span class="author">作者: {{article.author}}</span>

                <span class="category">分类: <a href="{{article.category.get_absolute_url}}">{{article.category.name}}</a></span>

                <span class="date">时间: {{article.created_time}}</span>
                <span class="comments-top" itemprop="interactionCount">评论：<a itemprop="discussionUrl"
                                                                             href="/PENETRATION/php-cgi-cve-2012-1823.html#reply-list">0条评论</a></span>
                <span class="comments-top" itemprop="interactionCount">浏览：<a itemprop="discussionUrl"
                                                                             href="/PENETRATION/php-cgi-cve-2012-1823.html">{{article.views}}人看过</a></span>

                <span class="date">标签:

        {% for tag in article.tags.all %}
        <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
        {% endfor %}
    
  </span>

            </div>
            <div class="entry">
                {{article.body | safe}}
            </div>
            <div itemprop="keywords" class="tags-meta">
                标签:
                {% for tag in article.tags.all %}
                <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
                {% endfor %}

            </div>

            <br>
            <!--MOB SHARE BEGIN-->
            <div class="-mob-share-ui-button -mob-share-open">分享</div>
            <div class="-mob-share-ui" style="display: none">
                <ul class="-mob-share-list">
                    <li class="-mob-share-weibo"><p>新浪微博</p></li>
                    <li class="-mob-share-qzone"><p>QQ空间</p></li>
                    <li class="-mob-share-qq"><p>QQ好友</p></li>
                    <li class="-mob-share-weixin"><p>微信</p></li>
                    <li class="-mob-share-douban"><p>豆瓣</p></li>
                    <li class="-mob-share-facebook"><p>Facebook</p></li>
                    <li class="-mob-share-twitter"><p>Twitter</p></li>
                    <li class="-mob-share-pocket"><p>Pocket</p></li>
                    <li class="-mob-share-google"><p>Google+</p></li>
                    <li class="-mob-share-youdao"><p>有道云笔记</p></li>
                    <li class="-mob-share-mingdao"><p>明道</p></li>
                    <li class="-mob-share-tumblr"><p>Tumblr</p></li>
                    <li class="-mob-share-instapaper"><p>Instapaper</p></li>
                    <li class="-mob-share-linkedin"><p>LinkedIn</p></li>
                </ul>
                <div class="-mob-share-close">取消</div>
            </div>
            <div class="-mob-share-ui-bg"></div>
            <script id="-mob-share" src="js/mob-share.js"></script>
            <!--MOB SHARE END-->

            <div class="qqlist">
                <h3>订阅本站
                    <small>(RSS)</small>
                </h3>
                <form method="post" target="_blank" action="https://list.qq.com/cgi-bin/qf_compose_send">
                    <input type="hidden" value="qf_booked_feedback" name="t"/>
                    <input type="hidden" value="dace5c2b356504de449e7f3fc2bb59f3f6124d6563786446" name="id"/>
                    <input type="text" placeholder="E-mail" value="" class="rsstxt" name="to" id="to"/>
                    <button type="submit">订阅&rarr;</button>
                </form>
            </div>


        </div>
        <!-- 评论位置 -->
       {% get_comments_count article as comments_count %}
        <div id="comments" class="comments">
          <h3>已有{{comments_count}}条评论</h3>
            {% get_all_comments article as comments %}
            <ol class="comment-list">
            {% for comment in comments %}
              <li class="comment-body" id="comment-{{comment.pk}}">
                <div class="clearfix">
                    <div class="comment-author">
                        <img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e.jpg?s=100&amp;d=mm&amp;r=g">
                    </div>
                    <div class="comment-meta">
                    <div class="fn"><a href="" target="_blank">{{comment.nick_name}}</a></div>
                    <p>{{comment.text}}</p>
                    <span class="comment-time">时间: {{comment.created_time}}</span>
                    <span class="comment-reply"><a href="#comment-{{comment.pk}}" onclick="reply_to('{{comment.pk}}','{{comment.nick_name}}')">回复</a></span>
                    </div>
                </div>
              </li>
                {% endfor %}
              <!--<li class="comment-body" id="comment-3048">-->
                <!--<div class="clearfix">-->
                    <!--<div class="comment-author">-->
                        <!--<img src="https://secure.gravatar.com/avatar/c4267eb6d17276fa31c547ac71611e90.jpg?s=100&amp;d=mm&amp;r=g">-->
                    <!--</div>-->
                    <!--<div class="comment-meta">-->
                    <!--<div class="fn"><a href="https://www.leavesongs.com" target="_blank">phithon</a></div>-->
                    <!--<p>@李云龙的意大利跑 <br>兄弟，我图方便才用百度做演示。钓鱼网站钓的最多的还是邮箱、CRM之类的企业内部工具，百度账号能有多少价值。<br>另外，钓鱼的意义就是让用户以为自己的cookie过期导致退出了，这样他才会重新登录，我们才能钓到其账号密码。既然退出了，当然显示的是默认首页。</p>-->
                    <!--<span class="comment-time">时间: 2018-03-10 18:01</span>-->
                    <!--<span class="comment-reply"><a href="#comment-3048" onclick="reply_to('3048','phithon')">回复</a></span>-->
                    <!--</div>-->
                <!--</div>-->
              <!--</li>-->

              <!--<li class="comment-body" id="comment-3045">-->
                <!--<div class="clearfix">-->
                    <!--<div class="comment-author">-->
                        <!--<img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e.jpg?s=100&amp;d=mm&amp;r=g">-->
                    <!--</div>-->
                    <!--<div class="comment-meta">-->
                    <!--<div class="fn"><a href="" target="_blank">testsec</a></div>-->
                    <!--<p>@鲈鱼 你的小工具需要邀请码才能注册？</p>-->
                    <!--<span class="comment-time">时间: 2018-03-09 15:22</span>-->
                    <!--<span class="comment-reply"><a href="#comment-3045" onclick="reply_to('3045','testsec')">回复</a></span>-->
                    <!--</div>-->
                <!--</div>-->
              <!--</li>-->

              <!--<li class="comment-body" id="comment-3046">-->
                <!--<div class="clearfix">-->
                    <!--<div class="comment-author">-->
                        <!--<img src="https://secure.gravatar.com/avatar/c4267eb6d17276fa31c547ac71611e90.jpg?s=100&amp;d=mm&amp;r=g">-->
                    <!--</div>-->
                    <!--<div class="comment-meta">-->
                    <!--<div class="fn"><a href="https://www.leavesongs.com" target="_blank">phithon</a></div>-->
                    <!--<p>@testsec 内部工具，不对外开放。</p>-->
                    <!--<span class="comment-time">时间: 2018-03-09 16:31</span>-->
                    <!--<span class="comment-reply"><a href="#comment-3046" onclick="reply_to('3046','phithon')">回复</a></span>-->
                    <!--</div>-->
                <!--</div>-->
              <!--</li>-->

              <!--<li class="comment-body" id="comment-3042">-->
                <!--<div class="clearfix">-->
                    <!--<div class="comment-author">-->
                        <!--<img src="https://secure.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e.jpg?s=100&amp;d=mm&amp;r=g">-->
                    <!--</div>-->
                    <!--<div class="comment-meta">-->
                    <!--<div class="fn"><a href="" target="_blank">鲈鱼</a></div>-->
                    <!--<p>谢谢<br>怎么建一个域名以.pw结尾的测试网站</p>-->
                    <!--<span class="comment-time">时间: 2018-03-09 10:36</span>-->
                    <!--<span class="comment-reply"><a href="#comment-3042" onclick="reply_to('3042','鲈鱼')">回复</a></span>-->
                    <!--</div>-->
                <!--</div>-->
              <!--</li>-->

              <!--<li class="comment-body" id="comment-3043">-->
                <!--<div class="clearfix">-->
                    <!--<div class="comment-author">-->
                        <!--<img src="https://secure.gravatar.com/avatar/c4267eb6d17276fa31c547ac71611e90.jpg?s=100&amp;d=mm&amp;r=g">-->
                    <!--</div>-->
                    <!--<div class="comment-meta">-->
                    <!--<div class="fn"><a href="https://www.leavesongs.com" target="_blank">phithon</a></div>-->
                    <!--<p>@鲈鱼 <br>这是我自己的一个小工具 https://phithon.gitbooks.io/conote/content/</p>-->
                    <!--<span class="comment-time">时间: 2018-03-09 14:13</span>-->
                    <!--<span class="comment-reply"><a href="#comment-3043" onclick="reply_to('3043','phithon')">回复</a></span>-->
                    <!--</div>-->
                <!--</div>-->
              <!--</li>-->


            </ol>

        </div>
        <!--<div id="comments" class="comments">-->
            <!--<h3>已有 0 条评论</h3>-->
            <!--<ol class="comment-list">-->


            <!--</ol>-->

        <!--</div>-->

        <div id="reply"></div>
        <div id="comment-place">
            <div id="comment-post" class="respond none-resize">
                <div id="respond">
                    <h3 id="response">添加新评论</h3>
                    <form method="post" id="comment-form" role="form" action="{% url 'comments:comment_post' article.pk %}">
                        <p>
                            <label for="author" class="required">称呼</label>
                            <input id="id_nickname" maxlength="64" name="nick_name" placeholder="昵称" type="text"
                                   required/>
                        </p>
                        <p>
                            <label for="mail">Email</label>
                            <input id="id_email" maxlength="254" name="email" placeholder="邮箱（可留空）" type="text"/>
                        </p>
                        <p>
                            <label for="url">网站</label>
                            <input id="id_url" maxlength="200" name="url" placeholder="链接（可留空）" type="text"/>
                        </p>
                        <p>
                            <label for="textarea" class="required">内容</label>
                            <textarea cols="40" id="id_content" name="text" rows="6" required>
</textarea>
                        </p>
                        <p>
                            <label style="float:left;">验证码</label>
                            {{ commentsForm.captcha }}
                        <!--<div class="row" style="margin-top: 8px">-->
                            <!--<div class="col-xs-4"><input autocomplete="off" id="id_captcha_1" name="captcha_1"-->
                                                         <!--type="text" placeholder="验证码"/> <input id="id_captcha_0"-->
                                                                                                <!--name="captcha_0"-->
                                                                                                <!--type="hidden"-->
                                                                                                <!--value="1ba70463fde1c04b4b1de827cf03c34fe5e889c5"/>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4">-->
                                <!--<img src="picture/acf89a790f7a454d9b804fe44e8a4544.gif" alt="captcha" class="captcha"-->
                                     <!--height="25"/></div>-->
                        <!--</div>-->
                        </p>
                        <p>
                            <button type="submit" class="submit">提交评论</button>
                            <input id="id_parent" name="parent_id" type="hidden" value="0"/>
                            <input id="id_archive" name="archive" type="hidden" value="417"/>
                            {% csrf_token %}
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

