{% extends 'home/base.html' %}
{% load staticfiles %}
{% load home_tags %}
{% block title %}首页 | 离别歌{%endblock%}

{% block slider %}
<div class="slider">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-10 columns">
        <div class="hero">
          <h2>离别歌</h2>
          <p id="blog_info">The quieter you become,the more you are able to hear.</p>
          <mark class="mark">Programming • Vulnerability • Bypass • Exploit</mark>
        </div>
        <ul class="project clearfix" id="main-word">
           <li><h3>Programming</h3>
              <p>一个不会编程的hacker不是好hacker，努力提高编码水平，接触最前沿的代码思想，构架自己的平台框架。</p>
          </li>
          <li><h3>Vulnerability</h3>
              <p>没有漏洞就没有安全，安全建立在发现漏洞与解决漏洞之间。世上没有完美的代码，也不会有零漏洞的程序。</p>
          </li>
          <li><h3>Bypass</h3>
              <p>不断地绕过，不断地突破防御机制，考验的是一个安全研究者对于漏洞原理的理解，更是猥琐的思路。</p>
          </li>
          <li><h3>Exploit</h3>
              <p>发现一个漏洞，你成功了70%；写出利用代码，完成剩下的30%。行百步者半九十。</p>
          </li>
        </ul>
      </div>
      <div class="col-6 columns" id="flash">
            <div class="panel-flash">
              <a href="javascript:void(0)" class="stag stage3" style="display:block" ><img src="{% static 'upload/images/03.jpg'%}" alt="deep"></a>
              <a href="javascript:void(0)" class="stag stage1" style="display:none"><img src="{% static 'upload/images/01.jpg'%}" alt="about-me"></a>
              <a href="javascript:void(0)" class="stag stage2" style="display:none"><img src="{% static 'upload/images/02.jpg'%}" alt="code"></a>
            </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block mainbody %}
<div class="col-11 columns" id="mainbody">
{% for article  in articles.object_list %}
<div class="post type-post" >
    <h2 class='loading-title' itemprop="name headline">
      <a itemtype="url" href="/article/{{article.pk}}/" title="{{article.title}}">{{article.title}}</a>
    </h2>
    <div class="details-up">
  <span class="author">作者: {{article.author}}</span>
  <span class="category">分类: <a href="{{article.category.get_absolute_url}}">{{article.category.name}}</a></span>
  <span class="date">时间: {{article.created_time}}</span>
             {% get_comments_count article as comments_count %}
  <span class="comments-top" itemprop="interactionCount">评论：<a itemprop="discussionUrl" href="/article/{{article.pk}}/#comments">{{comments_count}}条评论</a></span>
  <span class="comments-top" itemprop="interactionCount">浏览：<a itemprop="discussionUrl" href="/article/{{article.pk}}/">{{article.views}}人看过</a></span>
  <span class="date">标签:
        {% for tag in article.tags.all %}
        <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
        {% endfor %}
  </span>
</div>
    <div class="entry">
        {{article.excerpt}}
    </div>

</div>
{% empty %}
<div class="post type-post" >
    还没有文章发布！

</div>
{% endfor %}

<div class="pagediv">
<ul class="pagelist">
 {% if articles.has_previous %}
    <li class="long"><a href="?{{ articles.previous_page_number.querystring }}">上一页</a></li>
{% endif %}

 {% for page in articles.pages %}
    {% if page %}
        {% ifequal page articles.number %}
            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
        {% else %}
            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
        {% endifequal %}

    {% else %}
        <li class="none"><a href="">...</a></li>
    {% endif %}
{% endfor %}


{% if articles.has_next %}
    <li class="long"><a href="?{{ articles.next_page_number.querystring }}">下一页</a></li>
{% endif %}

</ul>
</div>

</div>
{% endblock %}
